

header nav {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: black;
  margin-bottom: 0;
}


 
button {
    display: inline-block;
    padding: 5px 20px;
    background-color: #3b5998;
    text-decoration: none;
    border-radius: 8px;
    margin: 10px;
    color: white;
}

form {
    margin-top: 100px;
    margin-bottom: 50px;
    align-content: center;
}

p { 
    margin-top: 0;
}


body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f2f6fa;
  color: #333;
  padding-top: 120px; /* Laisse de l'espace pour le header fixe */
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  max-width: 400px;
  width: 100%;
  background-color: white;
  padding: 30px 40px;
  border-radius: 10px;
}

@media (max-width: 768px) {
    section h1 {
        font-size: 50px;
        height: 100px;
        padding-top: 80px ;
    }

    section form {
      margin: auto;
      
    }

    section form p {
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
    }

    button[type="submit"] {
      height: 50px;
      text-align: center;
      font-size: 30px;

 }

  input {
  width: 100%;
  height: 55px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}
 
 p select option {
   font-size: 30px;
}

  
section p.last {
  padding-top: 150px;
  font-size: 30px;
  text-align: center;
  margin-bottom: 300px;
}
  
}

